*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
app-root {
  display: block;
  height: 100%;
  height: 100vh;
}
ul {
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  .tooltip-caret.position-top {
    border-top-color: #04838f;
  }
  background-color: #04838f;
}

.error-message {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
